@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../assets/fonts/helveticaneuecyr_roman.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
